<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Task Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <form (ngSubmit)="add(formData)" #heroForm="ngForm">
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="category"
        required
        [(ngModel)]="formData.category"
        name="category"
        #category="ngModel"
      >
        <option selected>Select Task Category</option>
        <option *ngFor="let ctg of categories" [value]="ctg.id">
          {{ ctg.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="Title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="Title"
        required
        [(ngModel)]="formData.title"
        name="title"
        #title="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Describtion</label>
      <input
        type="text"
        class="form-control"
        id="Description"
        required
        [(ngModel)]="formData.describtion"
        name="describtion"
        #describtion="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="StartDate" class="form-label">Start Date</label>
      <input
        type="date"
        class="form-control"
        id="StartDate"
        required
        [(ngModel)]="formData.startdate"
        name="startdate"
        #startdate="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="FinishDate" class="form-label">Finish Date</label>
      <input
        type="date"
        class="form-control"
        id="FinishDate"
        required
        [(ngModel)]="formData.finishdate"
        name="finishdate"
        #finishdate="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="Status" class="form-label">Status</label>
      <input
        type="text"
        class="form-control"
        id="Status"
        required
        [(ngModel)]="formData.status"
        name="status"
        #status="ngModel"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
